html {
  box-sizing: border-box;
}
:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --transition: 250sm cubic-bezier(0.4, 0, 0.2, 1);
  --slate: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --trans-function: cubic-bezier(0.4, 0, 0.2, 1);
  --trans-duration: 250ms;
}

body {
  font-family: var(--main-font);
  color: var(--slate);
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 0.02em;
}
a {
  text-decoration: none;
  font-style: normal;
  color: var(--slate);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header-border {
  border-bottom: 1px solid #e7e9fc;
}
.logo {
  color: var(--navyblue);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  font-family: "Raleway";
  letter-spacing: 0.54px;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}
.logo-item {
  color: var(--iris);
}
.address-setup {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
  display: flex;
  gap: 40px;
}
.menu-item {
  color: var(--navyblue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.menu-current {
  position: relative;
  display: flex;
  color: var(--ocean);
}
.menu-current::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 45px;
  height: 4px;
  border-radius: 2px;
  background: var(--ocean);
}

.logo:hover,
.logo:focus,
.logo-item:hover,
.logo-item:focus,
.logo2:hover,
.logo2:focus,
.menu-item:hover,
.menu-item:focus,
.linkaddress:hover,
.linkaddress:focus,
.linkaddress2:hover,
.linkaddress2:focus {
  color: var(--ocean);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}

.linkaddress {
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.linkaddress2 {
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-right: 0px;
}

.background-item {
  background: url("./img/people-office.jpg"), rgba(46, 47, 66, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}
.backgroundteam-item {
  background: var(--cloud);
}
.name-item {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  width: 496px;
  font-family: Roboto;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button-order {
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--iris);
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.icons-setup {
  border-radius: 4px;
  background: var(--cloud);
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.list-item {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: left;
  margin-bottom: 8px;
}
.list1-item {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
}
.list2-item {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: left;
  margin-bottom: 8px;
}
.title-item {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.list-description {
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: Roboto;
  letter-spacing: 0.32px;
}
.list-description1 {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.list-description2 {
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: left;
}
.listofpicture-setup {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-basis: calc((100% - 48px) / 3);
}

.listofpicture-setup li:hover,
.listofpicture-setup li:focus {
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}

.background-footer {
  background: var(--navyblue);
  padding: 100px 0;
}
.logo2 {
  color: var(--cloud);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  font-family: "Raleway";
  display: block;
  margin-bottom: 17px;
}
.footer-item {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
}
.button-list {
  color: var(--iris);
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--cloud);
  font-family: inherit;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
}
.button-order:hover,
.button-order:focus {
  background: var(--ocean);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}
.button-list:hover,
.button-list:focus {
  color: #fff;
  background: var(--ocean);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}
.portfolio-background {
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}
.header-setup {
  display: flex;
  text-align: center;
}

.nav-setup {
  display: flex;
}
.nav-setup li {
  margin-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-margin {
  margin-left: 76px;
}
.nav-setup li:last-child {
  margin-right: 0px;
}
.work-section {
  padding-bottom: 120px;
}
.list-doing-setup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.list-workers-setup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.list-setup {
  display: flex;
  flex-direction: row;
}
.list-setup li {
  width: 264px;
  margin-right: 24px;
}
.list-setup li:last-child,
.list-doing-setup:last-child,
.buttonlist-setup li:last-child {
  margin-right: 0px;
}
.table-workers {
  width: 264px;
  background: white;
  padding-bottom: 32px;
  padding-top: 32px;
  text-align: center;
}
.picture-description {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-h1 {
  display: none;
}
.table-activities {
  gap: 8px;
  background: white;
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.table-activities {
  padding-left: 16px;
  padding-right: 16px;
}

.buttonlist-setup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.buttonlist-setup li {
  margin-right: 24px;
}

.customer-background {
  background-color: #fff;
}
.customer-title {
  color: var(--navyblue);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.customer-list li {
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #8e8f99;
}
.customer-list li:hover,
.customer-list li:focus {
  fill: var(--ocean);
  border: 1px solid var(--ocean);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}

.media-setup {
  display: flex;
  justify-content: center;
}
.clients-setup {
  display: inline-flex;
  align-items: flex-start;
}
.media-icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 16px;
  justify-content: center;
}

.media-icons-footer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
}
.media-icons li {
  background: var(--iris);
  padding: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.media-icons li:hover,
.media-icons li:focus {
  background: var(--ocean);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}
.media-icons-footer li {
  background: var(--iris);
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.media-icons-footer li:hover,
.media-icons-footer li:focus {
  background: #31d0aa;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}

.social-media {
  margin-left: 120px;
}
.social-media-title {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.email-input {
  margin-left: 80px;
}
.email-item {
  margin-top: 16px;
  width: 264px;
  height: 40px;
  background-color: var(--navyblue);
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscription-button {
  margin-left: 30px;
  color: white;
  width: 165px;
  height: 40px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--iris);
  display: inline-flex;
  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
}
.subscription-button:hover,
.subscription-button:focus {
  background: var(--ocean);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}
.subscribe-title {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.footer-setup {
  display: flex;
  flex-direction: row;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  z-index: 2;
  transition: 400ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-topline {
  text-align: center;
  padding-top: 72px;
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.form-box {
  display: flex;
  gap: 8px;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  margin: 16px 24px 16px 24px;
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.form-item {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--iris);
  margin-top: 4px;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
}
.input-wrapper:hover,
.input-wrapper:focus {
  border-color: var(--iris);
}
.input-wrapper:hover-within .name-form-item,
.input-wrapper:focud-within .name-form-item {
  color: var(--iris);
}

.name-form-item {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 18px;
  height: 18px;
}
.phone-form-item {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 18px;
  height: 24px;
}
.email-form-item {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 18px;
  height: 24px;
}
.textarea {
  width: 360px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--iris);
  margin-top: 4px;
  padding-left: 16px;
}
.checkbox {
  margin: 16px 24px 24px 24px;
}
.check-box {
  width: 16px;
  height: 16px;
}
.text-checkbox {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding-left: 8px;
}
.text-checkbox-underline {
  color: var(--iris);
  text-decoration-line: underline;
}
.send-button {
  color: white;
  width: 169px;
  height: 56px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background: var(--iris);
  display: inline-flex;
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 119px;
  margin-bottom: 24px;
}
.send-button:hover,
.send-button:focus {
  background: var(--ocean);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;
}
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-btn2 {
  margin: 5px 0px 0px 0px;
}
.animation-box {
  position: relative;
  overflow: hidden;
}
.animation-box:hover .box-item,
.animation-box:focus .box-item {
  transform: translateY(0);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}
.box-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translateY(100%);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-function);
}
.box-item p {
  margin: 40px 32px 164px 32px;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
  color: var(--cloud);
  font-style: normal;
}
